
<!-- Build the array of datafiles:<br -->
{{ $currentDataFiles := slice}} <!-- Create an empty array -->
{{ range os.ReadDir "data/requests" }}
    <!-- File: {{ index (split .Name ".") 0 }}<br> -->
    {{ $currentDataFiles = $currentDataFiles | append (index (split .Name ".") 0) }}
{{ end }}

<!-- Get the number of data files from the data folder -->
{{ $dataFilesNumber := int (len $currentDataFiles)}}

<!-- Get a random count to be used to subtract from the data file array length -->
{{ $diffcount := int (index (seq $dataFilesNumber | shuffle) 0) }}

<!-- Get the $aftervalue obtained from subtracting the $dataFilesNumber from the $diffcount. This is used to form what data is rendered:<br> -->
{{ $aftervalue := sub $dataFilesNumber $diffcount }}
<br/>
{{ $weekDay := now.Weekday }}
{{ if eq $weekDay.String "Sunday" }}
    {{ range first 4 (after 0 $currentDataFiles) }}
        <strong>{{ (index $.Site.Data.requests .).category  | safeHTML }}</strong>:<br>
        {{ (index $.Site.Data.requests .).content | safeHTML }}
        <br><br>
    {{ end }}
{{ else if eq $weekDay.String "Monday" }}
    {{ range first 4 (after 4 $currentDataFiles) }}
        <strong>{{ (index $.Site.Data.requests .).category  | safeHTML }}</strong>:<br>
        {{ (index $.Site.Data.requests .).content | safeHTML }}
        <br><br>
    {{ end }}
{{ else if eq $weekDay.String "Tuesday" }}
    {{ range first 4 (after 8 $currentDataFiles) }}
        <strong>{{ (index $.Site.Data.requests .).category  | safeHTML }}</strong>:<br>
        {{ (index $.Site.Data.requests .).content | safeHTML }}
        <br><br>
    {{ end }}
{{ else if eq $weekDay.String "Wednesday" }}
    {{ range first 4 (after 12 $currentDataFiles) }}
        <strong>{{ (index $.Site.Data.requests .).category  | safeHTML }}</strong>:<br>
        {{ (index $.Site.Data.requests .).content | safeHTML }}
        <br><br>
    {{ end }}
{{ else if eq $weekDay.String "Thursday" }}
    {{ range first 4 (after $aftervalue $currentDataFiles) }}
        <strong>{{ (index $.Site.Data.requests .).category  | safeHTML }}</strong>:<br>
        {{ (index $.Site.Data.requests .).content | safeHTML }}
        <br><br>
    {{ end }}
{{ else if eq $weekDay.String "Friday" }}
    {{ range first 4 (after $aftervalue $currentDataFiles) }}
        <strong>{{ (index $.Site.Data.requests .).category  | safeHTML }}</strong>:<br>
        {{ (index $.Site.Data.requests .).content | safeHTML }}
        <br><br>
    {{ end }}
{{ else if eq $weekDay.String "Saturday" }}
    {{ range first 4 (after $aftervalue $currentDataFiles) }}
        <strong>{{ (index $.Site.Data.requests .).category  | safeHTML }}</strong>:<br>
        {{ (index $.Site.Data.requests .).content | safeHTML }}
        <br><br>
    {{ end }}
{{ end }}
